
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
  
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-family: 'Outfit', sans-serif;
  padding: 16px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  max-width: 20rem;
  height: auto;
  border-radius: 20px;
  padding: 16px;
}

img {
  display: block;
  max-width: 100%; 
  height: auto;
  border-radius: 20px;
}

.text {
  text-align: center;
  width: 288px;
  height: 131px;
}

h2 {
  font-size: 1.375rem;
  color: #1F314F;
  margin-bottom: 15px;
}

p {
  font-size: 0.938rem;
  color: #68778D;
  margin-left: 16px;
  margin-right: 16px;
}
