/* styles.css */
* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
  }
  
  body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: white;
    width: 320px;
    height: 499px;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
  }
  
  .qr-image {
    background-image: url('./images/image-qr-code.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 288px;
    height: 288px;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .text {
    text-align: center;
    width: 288px;
    height: 131px;
  }

  h1 {
    font-size: 22px;
    color: #1F314F;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 15px;
    color: #68778D;
    margin-left: 16px;
    margin-right: 16px;
    
    

    text-align: center;

  }
  